@import 'tailwindcss';
@import 'react-toastify/dist/ReactToastify.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-card: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer
}
